/*
Author: Vera Konigin
Contact: vera@groundedwren.com
File Description: Simple content bubble styles
*/
.bubble-container {
	position: relative;

	.bubble {
		position: absolute;
		background-color: var(--background-color, white);
		padding: 4px;
		border: 1px solid var(--border-color, black);
		min-width: 200px;
		right: 0;
		z-index: 2;
	}

	.bubbler:not(:is([aria-expanded="true"], [open])) {
		.bubble {
			display: none;
		}
	}
}