dialog.info {
	border: 1px solid var(--border-color);
	padding: 0;

	&::backdrop {
		background-color: var(--background-alt-color);
		opacity: 0.75;
	}

	> article {
		max-width: 900px;
		padding: 4px;

		display: grid;
		grid-template-columns: 30px 1fr;
		grid-template-rows: 1fr auto;
		column-gap: 5px;

		.info-icon {
			grid-column: 1;
			grid-row: 1 / span 2;;

			&:focus {
				outline: none !important;
				background-color: var(--selected-color);
			}

			.gw-icon {
				width: initial;
				height: initial;

				position: sticky;
				top: 5px;
				bottom: 5px;
			}
		}
		article {
			grid-column: 2;
			grid-row: 1;

			:is(h1, h2, h3, h4, h5, h6) {
				background-color: var(--accent-color);

				+ p {
					margin-block-start: 0;
				}
			}
		}
		footer {
			grid-row: 2;
			grid-column: 2;

			border: none;
			position: sticky;
			bottom: 0px;
			margin-block-end: -4px;
			margin-inline-end: -4px;
			padding: 2px;

			display: flex;
			justify-content: flex-end;
			gap: 10px;

			background-color: color-mix(in oklab, var(--background-alt-color), transparent 30%);
		}
	}
}