.poem {
	.stanza {
		.line {
			display: block;

			+ .line {
				margin-block-start: 0.3lh;
			}
		}
	}

	header {
		text-align: center;
		hgroup {
			* {
				margin: 0;
			}
			p {
				font-style: italic;
			}
		}
	}

	body {
		min-height: 100vh;
		margin: 0;
		display: grid;
		grid-template-rows: auto 1fr auto;
		justify-items: center;

		background-color: white;
		color: black;
		
		@media(prefers-color-scheme: dark) {
			background-color: black;
			color: white;
		}
	}

	.gw-button {
		width: 88px;
		height: 31px;
	}
}